{% extends 'sheetLayout.html' %}

{% block content %}
<div class="character_main">
    <div class="character_info_list">
        {% for i in range(character|length) %}
        <P>{{characterCategories[i]}}:{{character[i]}}</P>
        {%endfor%}
        <p class="level_info" style="font-size: 50px;">{{other_values[7]}}</p>
        <p style="color: rgb(79, 79, 79); font-size: 20px;">Level</p>
    </div>
    <div class="skill_mod_grid">
        {% for skill in skillData %}
        <div class="skill_mod">
            {{skill[0]}}
        </div>
        <div class="skill_mod">
            {% if skill[1] >= 0 %}
                +{{skill[1]}}
            {% else %}
                {{skill[1]}}
            {% endif%}

        </div>
        {%endfor%}
    </div>
    <div class="stat_mod_grid">
        {% for stat in statData %}
        <div class="stat_mod">
            {{stat[0]}}
            <div class = "stat_data">
                <div class = "stat_num">{{stat[1]}}</div>
                <div class = "stat_num">{{stat[2]}}</div>
                <div>Modifier</div>
                <div>Saving</div>
            </div>

        </div>
        {%endfor%}
    </div>
</div>


{% endblock %}