{% extends 'sheetLayout.html' %}

{% block head %}
    <script>
        var removed =false;
        document.addEventListener('DOMContentLoaded', function() {
            const unknownSpellsToggle = document.getElementById('unknownSpellsToggle');
            const unknownSpellsContainer = document.getElementById('unknownSpellsContainer');
            unknownSpellsToggle.addEventListener('click', function() {
                unknownSpellsContainer.classList.toggle('hidden');
            });
            const crosses = document.getElementsByClassName('spell_cross')
            for (let index = 0; index < crosses.length; index++) {
                crosses[index].addEventListener('click',addToUnknown);
            }
            const knownSpellButtons = document.getElementsByClassName('known-spell-button')
            for (let index = 0; index < knownSpellButtons.length; index++) {
                knownSpellButtons[index].addEventListener('click',displayInfo);
            }
            const unknownSpellButtons = document.getElementsByClassName('unknown-spell-button')
            for (let index = 0; index < unknownSpellButtons.length; index++) {
                unknownSpellButtons[index].addEventListener('click',addToSpell);
            }
        });
        function displayInfo() {
            if(!removed){
                const spellData = JSON.parse(this.dataset.spell);
                if (spellData[1]==0){
                    document.getElementById('school').textContent = `${spellData[3]} Cantrip`;
                }
                else{
                    document.getElementById('school').textContent = `Level ${spellData[1]} ${spellData[3]} spell`;
                }
                document.getElementById('main-spell-name').textContent = spellData[2];
                document.getElementById('description').textContent = spellData[8];
                document.getElementById('casting-time').textContent = `Casting Time: ${spellData[4]}`;
                document.getElementById('range').textContent = `Range: ${spellData[5]}`;
                document.getElementById('components').textContent = `Components: ${spellData[6]}`;
                document.getElementById('duration').textContent = `Duration: ${spellData[7]}`;
            }
            else{
                removed=false;
            }
        }
        function addToSpell() {
                const spellId = this.dataset.id;
                if (spellId != null){
                    // Code to add the selected spell to the CharacterSpell table, then display the chosen spell in the known spell table
                    $.ajax({ 
                        url: '/insertSpell', 
                        type: 'POST', 
                        contentType: 'application/json', 
                        data: JSON.stringify({ 'spell_Id': spellId,'id' : document.getElementById("sheet").dataset.id }), 
                        success: function(response) { 
                            console.log(response.spellArray);
                            document.getElementById(response.spellArray[0]).parentNode.removeChild(document.getElementById(response.spellArray[0]));

                            const spellButton = document.createElement("button");
                            spellButton.setAttribute("class", "known-spell-button");
                            spellButton.setAttribute("data-id",response.spellArray[0]);
                            spellButton.setAttribute("data-spell",JSON.stringify(response.spellArray));
                            spellButton.addEventListener('click',displayInfo);
                            spellButton.setAttribute("id",response.spellArray[0]);

                            const spellText = document.createElement("div");
                            spellText.innerText = response.spellArray[2];

                            // Create the "X" (cross) inside the button
                            const spell_cross = document.createElement("div");
                            spell_cross.setAttribute("class", "spell_cross");
                            spell_cross.textContent = "X"; // Add the text "X"
                            spell_cross.addEventListener('click',addToUnknown);

                            document.getElementById("spells-list").appendChild(spellButton);
                            document.getElementById(response.spellArray[0]).appendChild(spellText);
                            document.getElementById(response.spellArray[0]).appendChild(spell_cross);
                        }, 
                        error: function(error) { 
                            console.log(error); 
                        } 
                    }); 
                }
        }
        function addToUnknown() {
                const spellId = this.parentElement.dataset.id;
                removed=true;
                console.log("Removing");
                if (spellId != null){
                    // Code to add the selected spell to the CharacterSpell table, then display the chosen spell in the known spell table
                    $.ajax({ 
                        url: '/removeSpell', 
                        type: 'POST', 
                        contentType: 'application/json', 
                        data: JSON.stringify({ 'spell_Id': spellId,'id' : document.getElementById("sheet").dataset.id }), 
                        success: function(response) {
                            document.getElementById(response.spellArray[0]).parentNode.removeChild(document.getElementById(response.spellArray[0]))
                            const spellButton = document.createElement("button");
                            spellButton.setAttribute("class", "unknown-spell-button");
                            spellButton.setAttribute("data-id",response.spellArray[0]);
                            spellButton.addEventListener('click', addToSpell);
                            spellButton.setAttribute("data-spell",JSON.stringify(response.spellArray));
                            spellButton.setAttribute("id",response.spellArray[0]);
                            spellButton.innerText = response.spellArray[1];
                            console.log(response.spellArray);
                            document.getElementById("unknown-spells-list").appendChild(spellButton);
                        }, 
                        error: function(error) { 
                            console.log(error); 
                        } 
                    }); 
                }
        }
    </script>
{% endblock %}

{% block content %}
    <div class="spell-main">
        <div>
            <div id="unknownSpellsToggle" class="toggle-button">
                <button class = "known-spell-button" style = "background-color: white; text-align: center;">+ Add a spell</button>
            </div>
            <div class="spells-list" id = "spells-list">
                {% for spell in spellData %}
                    <button class="known-spell-button" data-id="{{ spell[0] }}" data-spell='{{ spell | tojson }}' id = {{spell[0]}}><div>{{ spell[2] }}</div><div class = "spell_cross">X</div></button>
                {% endfor %}

            </div>
        </div>

        <div class = "spell-description-container" id="spell-info">
            <p class = "spell-title" id="main-spell-name"></p>
            <p id = "school"></p>
            <p id = "casting-time"></p>
            <p id = "range"></p>
            <p id = "components"></p>
            <p id = "duration"></p>
            <p id= "description" class = "spell_description"></p>
        </div>

        <div id="unknownSpellsContainer" class="unknown-spells hidden">
            <h2>Available Spells</h2>
            <div class="unknown-spells-list" id = "unknown-spells-list">
                {% for spell in unknownSpells %}
                    <button class="unknown-spell-button" data-id="{{ spell[0] }}" data-spell='{{ spell | tojson }}' id = '{{spell[0]}}'>{{ spell[1] }}</button>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
