{% extends 'sheetLayout.html' %}

{% block head %}
    <script>
        // Add listeners to all spell buttons. Based off listener code by Cameron Martin
        var removed = false;
        document.addEventListener('DOMContentLoaded', function() {
            const unknownSpellsToggle = document.getElementById('unknownSpellsToggle');
            const unknownSpellsContainer = document.getElementById('unknownSpellsContainer');
            unknownSpellsToggle.addEventListener('click', function() {
                unknownSpellsContainer.classList.toggle('hidden');
            });
            document.getElementById('unknown-spells-cross').addEventListener('click', function() {
                unknownSpellsContainer.classList.toggle('hidden');
            });
            const crosses = document.getElementsByClassName('spell_cross')
            for (let index = 0; index < crosses.length; index++) {
                crosses[index].addEventListener('click',displayDialog);
            }
            const knownSpellButtons = document.getElementsByClassName('known-spell-button')
            for (let index = 0; index < knownSpellButtons.length; index++) {
                knownSpellButtons[index].addEventListener('click',displayInfo);
            }
            const unknownSpellButtons = document.getElementsByClassName('unknown-spell-button')
            for (let index = 0; index < unknownSpellButtons.length; index++) {
                unknownSpellButtons[index].addEventListener('click',addToSpell);
            }
        });


        function displayInfo() {
            // removed is to stop the overlapping buttons of the cross and the spell both triggering, displaying
            // the info of a spell that was just removed
            if(!removed){
                const spellData = JSON.parse(this.dataset.spell);
                if (spellData[1]==0){
                    document.getElementById('school').textContent = `${spellData[3]} Cantrip`;
                }
                else{
                    document.getElementById('school').textContent = `Level ${spellData[1]} ${spellData[3]} spell`;
                }
                document.getElementById('main-spell-name').textContent = spellData[2];
                document.getElementById('description').textContent = spellData[8];
                document.getElementById('casting-time').textContent = `Casting Time: ${spellData[4]}`;
                document.getElementById('range').textContent = `Range: ${spellData[5]}`;
                document.getElementById('components').textContent = `Components: ${spellData[6]}`;
                document.getElementById('duration').textContent = `Duration: ${spellData[7]}`;
            }
            else{
                removed=false;
            }
        }
        
        function addToSpell() {
                const spellId = this.dataset.id;
                const category  = document.getElementById("unknownSpellsToggle").dataset.category;
                console.log(category)
                if (spellId != null){
                    // Code to add the selected spell to the CharacterSpell table, then display the chosen spell in the known spell table
                    // Ajax based off Cameron Martin's code
                    $.ajax({ 
                        url: '/insertSpell', 
                        type: 'POST', 
                        contentType: 'application/json', 
                        data: JSON.stringify({ 'spell_Id': spellId,'id' : document.getElementById("sheet").dataset.id,'category': category}), 
                        success: function(response) { 
                            console.log(response.spellArray);
                            document.getElementById(response.spellArray[0]).parentNode.removeChild(document.getElementById(response.spellArray[0]));

                            // Create the element that does the button function and contains the spell data
                            const spellButton = document.createElement("button");
                            spellButton.setAttribute("class", "known-spell-button");
                            spellButton.setAttribute("data-id",response.spellArray[0]);
                            spellButton.setAttribute("data-spell",JSON.stringify(response.spellArray));
                            spellButton.addEventListener('click',displayInfo);
                            spellButton.setAttribute("id",response.spellArray[0]);

                            // Create the element that displays the spells name
                            const spellText = document.createElement("div");
                            spellText.innerText = response.spellArray[2];

                            // Create the "X" (cross) inside the button
                            const spell_cross = document.createElement("div");
                            spell_cross.setAttribute("class", "spell_cross");
                            spell_cross.textContent = "X"; // Add the text "X"
                            spell_cross.addEventListener('click',displayDialog);

                            document.getElementById("spells-list").appendChild(spellButton);
                            document.getElementById(response.spellArray[0]).appendChild(spellText);
                            document.getElementById(response.spellArray[0]).appendChild(spell_cross);
                        }, 
                        error: function(error) { 
                            console.log(error); 
                        } 
                    }); 
                }
        }
        let remove_id = -1;
        function addToUnknown() {
                const spellId = remove_id;
                if (remove_id==-1){
                    return;
                }
                console.log("Removing");
                if (spellId != null){
                    // Code to remove the spell from the CharacterSpell table, then display the chosen spell in the unknown spell list
                    // Ajax based off Cameron Martin's code
                    $.ajax({ 
                        url: '/removeSpell', 
                        type: 'POST', 
                        contentType: 'application/json', 
                        data: JSON.stringify({ 'spell_Id': spellId,'id' : document.getElementById("sheet").dataset.id,'category':document.getElementById("unknownSpellsToggle").dataset.category}), 
                        success: function(response) {
                            document.getElementById(response.spellArray[0]).parentNode.removeChild(document.getElementById(response.spellArray[0]))
                            const spellButton = document.createElement("button");
                            spellButton.setAttribute("class", "unknown-spell-button");
                            spellButton.setAttribute("data-id",response.spellArray[0]);
                            spellButton.addEventListener('click', addToSpell);
                            spellButton.setAttribute("id",response.spellArray[0]);
                            
                            // Create the element that displays the spells name
                            const spellName = document.createElement("span");
                            spellName.setAttribute("class","unknown-spell-name");
                            spellName.innerText = response.spellArray[1];

                            // Create the element that displays the spells level
                            const spellLevel = document.createElement("span");
                            spellLevel.setAttribute("class","unknown-spell-extra");
                            
                            // Account for cantrips
                            if (response.spellArray[2]>0){
                                spellLevel.innerText = `Level ${response.spellArray[1]} Spell`;
                            }
                            else{
                                spellLevel.innerText = `Cantrip`;
                            }
                            

                            console.log(response.spellArray);
                            document.getElementById("unknown-spells-list").appendChild(spellButton);
                            document.getElementById(response.spellArray[0]).appendChild(spellName);
                            document.getElementById(response.spellArray[0]).appendChild(spellLevel);
                        }, 
                        error: function(error) { 
                            console.log(error); 
                        }
                    }); 
                }
                hideDialog();
        }
        function displayDialog(){
            confirmDialog = document.getElementById('delete-confirm')
            confirmDialog.classList.remove('hidden');
            remove_id = this.parentElement.dataset.id;
            removed=true;
        }
        function hideDialog(){
            confirmDialog = document.getElementById('delete-confirm')
            confirmDialog.classList.add('hidden');
        }
    </script>
{% endblock %}

{% block content %}
    <div class="spell-main">
        <div>
            {% if other_values[6] == 12 %}
            <div class = "wizardSpellSwitcher">
                <a href = "{{ url_for('character_spells', id=other_values[0], category = 0)}}">
                    <button type="submit" class = "submit" style="width:100%; {% if category == 1 %} background-color: #a27db9; {% endif %}">Spellbook</button>
                </a>
                <a href = "{{ url_for('character_spells', id=other_values[0], category = 1)}}">
                    <button type="submit" class = "submit" style="width:100%; {% if category == 0 %} background-color: #a27db9; {% endif %}">Prepared</button>
                </a>
            </div>
            {% endif %}
            <div id="unknownSpellsToggle" class="toggle-button" data-category = {{category}}>
                <button class = "known-spell-button" style = "background-color: white; text-align: center;">+ Add a spell</button>
            </div>
            <div class="spells-list" id = "spells-list">
                {% for spell in spellData %}
                    <button class="known-spell-button" data-id="{{ spell[0] }}" data-spell='{{ spell | tojson }}' id = {{spell[0]}}><div>{{ spell[2] }}</div><div class = "spell_cross">X</div></button>
                {% endfor %}

            </div>
        </div>

        <div class = "spell-description-container" id="spell-info">
            <p class = "spell-title" id="main-spell-name"></p>
            <p id = "school"></p>
            <p id = "casting-time"></p>
            <p id = "range"></p>
            <p id = "components"></p>
            <p id = "duration"></p>
            <p id= "description" class = "spell_description"></p>
        </div>

        <div id="unknownSpellsContainer" class="unknown-spells hidden">
            <div id = "unknown-spells-cross" style = "margin-left: auto; text-align: right; font-size: 28px; color: red;">X</div>
            <h2>Available Spells</h2>
            <div class="unknown-spells-list" id = "unknown-spells-list">
                {% for spell in unknownSpells %}
                <button class="unknown-spell-button" data-id="{{ spell[0] }}" id="{{ spell[0] }}">
                    <span class="unknown-spell-name">{{ spell[1] }}</span>
                    <span class="unknown-spell-extra">
                        {% if spell[2] > 0 %}
                        Level {{ spell[2] }} Spell
                        {% else %}
                        Cantrip
                        {% endif %}
                    </span>
                </button>
                {% endfor %}
            </div>
        </div>
        <div id="delete-confirm" class="unknown-spells hidden" style="top: -10%; padding-bottom: 3.5%;">
            <h2>Do you want to delete this spell?</h2>
                <button class="submit" onclick="addToUnknown()">
                    Yes
                </button>
                <button class="submit" onclick="hideDialog()">
                    No
                </button>
        </div>

        </div>
{% endblock %}
