{% extends 'FormLayout.html' %}

{% block head %}
    <title>Create a character</title>
{% endblock %}

{% block content %}
    <form action="{{ url_for('submit1') }}" method="post">
        <label for="name">Character Name:</label>
        <input type="text" name="name" class="sheet_choices" required> 
        <br>
        <label for="cClass">Class:</label>
        <select name="cClass" class="sheet_choices">
            {% for class_name, class_id in hClass %}
                <option value="{{ class_id }}">{{ class_name }}</option>
            {% endfor %}
        </select>
        <br>
        <label for="race">Race:</label>
        <select name="race" class="sheet_choices">
            {% for race_name, race_id in raceData %}
                <option value="{{ race_id }}">{{ race_name }}</option>
            {% endfor %}
        </select>
        <br>
        <label for="background">Background:</label>
        <select id="background" name="background" class="sheet_choices">
            {% for background_name, background_id in backgroundData %}
                <option value="{{ background_id }}">{{ background_name }}</option>
            {% endfor %}
        </select>
        <br>
        <button type="submit" formaction="/submit1" class = "submit">Submit</button>
    </form>
{% endblock %}