{% extends 'FormLayout.html' %}

{% block head %}
    <title>Create a character</title>
{% endblock %}

{% block content %}
    <form action="{{ url_for(destination) }}" method="post">
        <p>{{ added_message| safe }}</p>
        <label for="STR">Strength:</label>
        <input type="number"name="0" value='{{base}}' class="stat_input" required>
        <br>
        <label for="STR">Dexterity:</label>
        <input type="number"name="1" value='{{base}}' class="stat_input" required>
        <br>
        <label for="STR">Intelligence:</label>
        <input type="number"name="2" value='{{base}}' class="stat_input" required>
        <br>
        <label for="STR">Wisdom:</label>
        <input type="number"name="3" value='{{base}}' class="stat_input" required>
        <br>
        <label for="STR">Charisma:</label>
        <input type="number"name="4" value='{{base}}' class="stat_input" required>
        <br>
        <label for="STR">Constitution:</label>
        <input type="number"name="5" value='{{base}}' class="stat_input" required>
        <br>
        <button type="submit" formaction="/{{destination}}" class = "submit">Finish</button>
        <br>
    </form>
{% endblock %}