<!DOCTYPE html>
<html>
<head>
    <title>Create a character</title>
    <link rel = 'stylesheet', href = '../static/styles.css'>
</head>
<body>
    <form action="{{ url_for('submit') }}" method="post" class="main_create">
        <label for="name">Character Name:</label>
        <input type="text" id="name" name="name">
        <br>
        <label for="cClass">Class:</label>
        <select id="cClass" name="cClass">
            {% for class_name, class_id in hClass %}
                <option value="{{ class_id }}">{{ class_name }}</option>
            {% endfor %}
        </select>
        <br>
        <label for="race">Class:</label>
        <select id="race" name="race">
            {% for race_name, race_id in raceData %}
                <option value="{{ race_id }}">{{ race_name }}</option>
            {% endfor %}
        </select>
        <br>
        <button type="submit">Submit</button>
    </form>
</body>
</html>