<!DOCTYPE html>
<html>
<head>
    <title>Create a character</title>
    <link rel = 'stylesheet', href = '../static/styles.css'>
    <script>
        function limitCheckboxes() {
            // Get the max selections from the data attribute
            var maxSelections = document.getElementById('proficiency-form').dataset.maxSelections;
            var checkboxes = document.querySelectorAll('input[name="proficiencies"]');
            checkboxes.forEach(function(checkbox) {
                checkbox.addEventListener('change', function() {
                    var checkedCount = document.querySelectorAll('input[name="choices"]:checked').length;
                    if (checkedCount > maxSelections) {
                        this.checked = false;
                        alert("You can only select up to " + maxSelections + " options.");
                    }
                });
            });
        }

        window.onload = function() {
            limitCheckboxes();
        }
    </script>
</head>
<body>
    <form id="proficiency-form" action="{{ url_for('submit_proficiencies') }}" method="post" data-max-selections="{{ max_selections }}">
        <label>Select up to {{ max_selections }} {{category}}:</label><br>
        {{for option in options}}

        {{endfor}}
        
        <br>
        <button type="submit">Submit</button>
    </form>
</body>
</html>
