<!DOCTYPE html>
<html>
    <head>
        <link rel = 'stylesheet', href = '../static/styles.css'>
        <link href="https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap" rel="stylesheet">

        {% block head %}{% endblock %}
    </head>
    <body>
        <div class = "main_create">
            <h1 class="formScrollHeader">{{title}}</h1>
            <div class = "formContent">
                {% block content %}{% endblock %}
            </div>
        </div>
    </body>
    

</html>