<!DOCTYPE html>
<html>
    <head>
        <link rel = 'stylesheet', href = "{{ url_for('static', filename='styles.css') }}">
        <link href="https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap" rel="stylesheet">

        {% block head %}{% endblock %}
    </head>
    <body>
        <div class = "main_create">
            <div class="formScrollHeader">
                <div class="headerText">
                    <a href="{{ url_for('home')}}"><img style = "width: 30%; margin-top: 10px;" src = "{{ url_for('static', filename='Home.png') }}" class = "menu_button"></a>
                </div>
                <div>

                </div>
                <div class="headerText">
                    {{title}}
                </div>
                <div class="headerText">

                </div>
            </div>
            <div class = "formContent">
                {% block content %}{% endblock %}
            </div>
        </div>
    </body>
    

</html>