<!DOCTYPE html>
<html>
    <head>
        <link rel = 'stylesheet', href = '../static/styles.css'>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap" rel="stylesheet">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script>
            // Code to detect when user inputs health, and reloads the page with that information
            // Base of code donated by Sir Cameron of Martin
            document.addEventListener('DOMContentLoaded', (event) => {
                const HP_box = document.getElementById('HP');
                HP_box.addEventListener('blur', sendData);
                const AC_box = document.getElementById('AC');
                AC_box.addEventListener('blur', sendData);
            });


            function sendData() { 
                var newHP = document.getElementById('HP').value;
                var newAC = document.getElementById('AC').value; 
                console.log("Unfocused")
                if (newHP != null){
                    $.ajax({ 
                        url: '/updateHP', 
                        type: 'POST', 
                        contentType: 'application/json', 
                        data: JSON.stringify({ 'HP': newHP,'AC': newAC,'id' : document.getElementById("sheet").dataset.id }),
                    }); 
                }
            }
            var toggled = false

            function toggleDropDown() {
                console.log("clicked")
                toggled = !toggled
                if (toggled){
                    dropdown_menu.style.display = "grid";
                }
                else{
                    dropdown_menu.style.display = "none";
                }
                    
            }
            
        </script>
    </head>
    <body>
        <div class = 'sheet_container' id="sheet" data-id="{{ other_values[0] }}">
            <div class = 'side_bar'>
                <div>
                    <button class = "dropdown-menu" id="dropdown_button" onclick="toggleDropDown()">
                        <img src = "../static/Menu.png" class = "menu_button">
                    </button>
                </div>
                <div>
                    <list class = "dropdown-container" id = "dropdown_menu">
                        <a href="{{ url_for('userPage', id=other_values[5])}}" class="dropdown_links">Home</a>
                        <a href="{{ url_for('character_main', id=other_values[0])}}" class="dropdown_links">General Information</a>
                        <a href="{{ url_for('character_abilities', id=other_values[0])}}" class="dropdown_links">Abilities/Feats</a>
                        {% if other_values[6] not in [2,5,6,9]%}
                        <a href="{{ url_for('character_spells', id=other_values[0])}}" class="dropdown_links">Spells</a>
                        {% endif %}
                        <a href="{{ url_for('level', id=other_values[0])}}" class="dropdown_links">Level up</a>
                    </list>
                </div>
                <div>
                    <input type="number" id="HP" value='{{other_values[2]}}' class="side_input">
                </div>
                Max health : {{other_values[1]}}
                <div>
                    <input type="number" id="AC" value='{{other_values[3]}}' class="side_input">
                </div>
                AC
                <div class = 'side_info'>
                    +{{other_values[4]}}
                </div>
                Proficiency
            </div>
            <div class = 'sheet' data-joe = "Joe">
                {% block content %}{% endblock %}
            </div>
        </div>
        
    </body>
</html>