<!DOCTYPE html>
<html>
    <head>
        <link rel = 'stylesheet', href = '../static/styles.css'>
    </head>
    <body>
        <div class = 'sheet_container'>
            <div class = 'side_bar'>
                <div class = 'side_info'>
                    {{HP}}
                </div>
                Health
                <div class = 'side_info'>
                    {{AC}}
                </div>
                AC
            </div>
            <div class = 'sheet'>
                {% block content %}{% endblock %}
            </div>
        </div>
        
    </body>
</html>