<p>
    {%if reversed == true%}
    {%if flipped == true%}
        {%for i in range(size+1)%}
            <pre>{{' '*i}}{{'O'*(size-i)}}</pre>
        {%endfor%}
    {%else%}
        {%for i in range(size+1)%}
            <pre>{{'O'*(size-i)}}</pre>
        {%endfor%}
    {%endif%}
{%else%}
    {%if flipped == true%}
        {%for i in range(size+1)%}
            <pre>{{' '*(size-i)}}{{'O'*(i)}}</pre>
        {%endfor%}
    {%else%}
        {%for i in range(size+1)%}
            <pre>{{'O'*(i)}}</pre>
        {%endfor%}
    {%endif%}
{%endif%}
</p>
